/* Footer */
footer {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
}

footer .col {
    flex: 1;
    min-width: 200px;
    margin: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}

footer .col h4 {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}

footer .col p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .col a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 10px;
    display: block;
}

footer .col a:hover {
    color: #fff;
}

footer .follow {
    margin-top: 20px;
}

footer .follow h4 {
    margin-bottom: 10px;
}

footer .follow .icon i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow .icon i:hover,
footer .follow .icon i:active {
    color: #088178;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
    padding: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}