@import url("globals.css");
@import url("footer.css");


.container {
    text-align: center;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container label {
    text-align: left;
    align-self:flex-start;
    margin-bottom: 5px;
}

.container input,
.container textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    padding: 10px 20px;
    background-color: #088178;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.container button:hover {
    background-color: #065a52;
}

.container .input-group{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.container a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.container a:hover{
    color:#065a52;
}

.container .error-message{
    padding: 5px;
    color: red;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
